@{
  Layout = "_Layout";
}
<h1>Vendor and Order Order Details: </h1>


<h3>Vendor: @Model["vendor"].Name</h3>


<h3>Order Name: @Model["order"].OrderName</h3>
<h3>Order Description: @Model["order"].Description</h3>
<h3>Order Date: @Model["order"].Price</h3>
<h3>Order Price: @Model["order"].Date</h3>

<p><a class="links" href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
<p><a class="links" href='/vendors'>Back to Vendors</a></p>
<p><a class="links" href='/'>Back home</a></p>