@{
  Layout = "_Layout";
}
<h1>Vendor and Order Order Details: </h1>


<h3>Vendor: @Model["vendor"].Name</h3>


<h1>Order Name: @Model["order"].OrderName</h1>
<h1>Order Description: @Model["order"].Description</h1>
<h1>Order Date: @Model["order"].Price</h1>
<h1>Order Price: @Model["order"].Date</h1>

<a class="links" href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a class="links" href='/vendors'>View all Vendors</a>